/* ------------- FORMATO ------------------ */

body {
    font-family: Verdana;
    margin: 25%;
    border: solid 3px blue; 
    background-color: rgb(174, 174, 233);
}



#contenido{
    background-color: white;
    padding: 20px;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
}


/* ------------- MENU ------------------ */

#menu :hover{
    color: yellow;
    background-color: red;
}

#menu{
    background-color: rgb(0, 179, 255);
    list-style-type:none ;
    text-align: center;
}


/* ------------- ENCABEZACDOS Y TEXTO ------------------ */

#titulo{
    color: blue;
    text-transform: uppercase;
    text-align: center;
    border: solid 3px blue;
    background-color: rgb(0, 179, 255);
    padding: 10px;
}

.subtitulo{
    color: rgb(13, 13, 184);
    border: solid 3px blue;
    background-color: rgb(0, 179, 255);
    font-size: 20px;
    padding: 10px;
}

.texto{
    font-size: 15px ;
    padding: 10px;
}

.introduccion{
    font-size: 15px ;
    padding: 10px;
}


/* ------------- TABLA ------------------ */

table{
    border:solid 3px blue;
    width: 98%;
    margin: 40px auto; 
    border-collapse: collapse; 
    caption-side: bottom;
    text-align: center;
}

caption{
    color: blue;
    font-size: 12px;
}

th{
    color: red;
    background-color: rgb(0, 179, 255);
}

th, td{
    border: solid 1px black;
    height: 40px;
    vertical-align: middle;
    text-align: center;
}

tr, td{
    color: rgb(11, 11, 157);
}

tr td:hover{
    color: yellow;
    background-color: red;
}

tr:nth-child(odd) {
    background-color: rgb(115, 200, 236);
}


/* ------------- LISTA ------------------ */

#lista{
    color: rgb(14, 14, 16);
}

#lista :first-child{
    color: rgb(25, 0, 255);
}

#lista :last-child{
    color: rgb(25, 0, 255);
}

#lista ::first-letter{
    text-transform: uppercase;
}


/* ------------- AUTOR ------------------ */

#autor{
    color: blue;
    text-align: center;
    
}

#autor::after{content: "Alejandro Montilla Aguilar";}

