nombre{
    font-size: 2rem;
    display: block;
    border: solid 2px chocolate;
    padding: 10px;
    width: 500px;
    margin: 10px;
    font-family: verdana;
    font-weight: bold;
}

diasentrega{
    color: red;
    display: block;
    padding-left: 50px ;

}